@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Titulo {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color: white;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: white;
}

.Email {
  font-size: 15px;
  border-radius: 20px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  border: 0;
  background-color: rgb(38, 126, 151);
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
}

.Nombre {
  font-size: 15px;
  border-radius: 20px;
  padding: 5px;
  border: 0;
  background-color: rgb(38, 126, 151);
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
}

.btn-enviar {
border-radius: 20px;
padding-left: 15px;
padding-right: 15px;
padding-top: 5px;
padding-bottom: 5px;
font-size: 15px;
background-color: rgb(38, 126, 151);
border: 0;
font-family: 'Roboto', sans-serif;
box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
color: white;

}

.btn-enviar:hover {
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  background-color: rgb(39, 159, 193);
  border: 0;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

form {
  font-family: 'Roboto', sans-serif;
  color: white;
}

body {
  background-color: rgb(19, 73, 88)
}

.Cuadro {
  width: 300px;
  height: 200px;
  border-radius: 35px;
  padding-bottom: 0px;
  padding-top: 20px;
  padding-left:  30px;
  padding-right:  30px;
  border: 0;
  background-color: rgb(31, 98, 116);
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: justify;
  margin: auto;
  margin-top: 10px;

}