@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Titulo {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

label {
  font-size: 15px;

}

.Enviar {
  font-size: 15px;

}

.Email {
  font-size: 15px;
  border-radius: 20px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

.Nombre {
  font-size: 15px;
  border-radius: 20px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

.btn-enviar {
border-radius: 20px;
padding:  5px;
font-size: 15px;
border-color: rgb(0, 255, 255);
background-color: rgb(0, 255, 255);
font-family: 'Roboto', sans-serif;
}

.btn-enviar:hover {
  border-radius: 20px;
  padding:  5px;
  font-size: 15px;
  border-color: rgb(0, 255, 255);
  background-color: rgb(0, 255, 255);
  font-family: 'Roboto', sans-serif;
}